:root {
  --foundation-greylight: rgba(238, 238, 238, 1);
  --foundation-greylight-hover: rgba(229, 229, 229, 1);
  --foundation-greylight-active: rgba(201, 201, 201, 1);
  --foundation-greynormal: rgba(82, 82, 82, 1);
  --foundation-greynormal-hover: rgba(74, 74, 74, 1);
  --foundation-greynormal-active: rgba(66, 66, 66, 1);
  --foundation-greydark-hover: rgba(49, 49, 49, 1);
  --foundation-greydark-active: rgba(37, 37, 37, 1);
  --foundation-greydarker: rgba(29, 29, 29, 1);
  --foundation-brownlight: rgba(252, 249, 247, 1);
  --foundation-brownlight-hover: rgba(251, 246, 243, 1);
  --foundation-brownlight-active: rgba(246, 237, 230, 1);
  --foundation-brownnormal: rgba(225, 198, 173, 1);
  --foundation-brownnormal-hover: rgba(203, 178, 156, 1);
  --foundation-brownnormal-active: rgba(180, 158, 138, 1);
  --foundation-browndark: rgba(169, 149, 130, 1);
  --foundation-browndark-hover: rgba(135, 119, 104, 1);
  --foundation-browndark-active: rgba(101, 89, 78, 1);
  --foundation-browndarker: rgba(79, 69, 61, 1);
  --h1-font-family: "Inter", Helvetica;
  --h1-font-weight: 400;
  --h1-font-size: 61px;
  --h1-letter-spacing: 0px;
  --h1-line-height: 120.00000476837158%;
  --h1-font-style: normal;
  --h2-font-family: "Inter", Helvetica;
  --h2-font-weight: 400;
  --h2-font-size: 49px;
  --h2-letter-spacing: 0px;
  --h2-line-height: 120.00000476837158%;
  --h2-font-style: normal;
  --h3-font-family: "Inter", Helvetica;
  --h3-font-weight: 400;
  --h3-font-size: 39px;
  --h3-letter-spacing: 0px;
  --h3-line-height: 120.00000476837158%;
  --h3-font-style: normal;
  --h4-font-family: "Inter", Helvetica;
  --h4-font-weight: 400;
  --h4-font-size: 31px;
  --h4-letter-spacing: 0px;
  --h4-line-height: 120.00000476837158%;
  --h4-font-style: normal;
  --h5-font-family: "Inter", Helvetica;
  --h5-font-weight: 400;
  --h5-font-size: 25px;
  --h5-letter-spacing: 0px;
  --h5-line-height: 120.00000476837158%;
  --h5-font-style: normal;
  --h6-font-family: "Inter", Helvetica;
  --h6-font-weight: 400;
  --h6-font-size: 20px;
  --h6-letter-spacing: 0px;
  --h6-line-height: 120.00000476837158%;
  --h6-font-style: normal;
  --h7-font-family: "Inter", Helvetica;
  --h7-font-weight: 400;
  --h7-font-size: 16px;
  --h7-letter-spacing: 0px;
  --h7-line-height: 120.00000476837158%;
  --h7-font-style: normal;
  --h9-font-family: "Inter", Helvetica;
  --h9-font-weight: 400;
  --h9-font-size: 10px;
  --h9-letter-spacing: 0px;
  --h9-line-height: 120.00000476837158%;
  --h9-font-style: normal;
  --h10-font-family: "Inter", Helvetica;
  --h10-font-weight: 400;
  --h10-font-size: 8px;
  --h10-letter-spacing: 0px;
  --h10-line-height: 120.00000476837158%;
  --h10-font-style: normal;
}
