.html, body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.portfolio-section {
  background: linear-gradient(0deg, #3d3d3d 0%, #3d3d3d 100%), rgba(127, 127, 127, 0.5);
  background-blend-mode: overlay, luminosity;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header {
  display: flex;
  max-width: 100%;
  padding-left: 122px;
  padding-right: 122px;
  margin-top: 25px;
  color: #fcf9f7;
  justify-content: space-between;
  font: 400 16px/1.2 Inter, sans-serif;
  z-index: 1;
  box-sizing: border-box;
}

.logo {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 50px;
}

.nav-links {
  display: flex;
  gap: 41px;
  margin: auto 0;
}

.nav-item {
  display: flex;
  flex-direction: column;
}

.nav-link {
  text-decoration: none;
  color: inherit;
}

.nav-underline {
  background: #fcf9f7;
  margin-top: 6px;
  height: 1px;
  border: 1px solid #fcf9f7;
}

.fundo-poligonos {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 5%;
  margin: 0px;
}

.main-title {
  color: #fcf9f7;
  align-self: center;
  margin-top: 40px;
  margin-bottom: 40px;
  font: 400 61px/1.2 Inter, sans-serif;
  z-index: 1;
}

.hold-description {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-description {
  color: #fcf9f7;
  margin: 0px;
  font: 400 20px/1.2 Inter, sans-serif;
  z-index: 1;
}

.main-description2 {
  color: #fcf9f7;
  margin: 0px;
  font: 400 18px/1.2 Inter, sans-serif;
  z-index: 1;
  opacity: 20%;
}

.sub-description {
  align-self: start;
  display: flex;
  margin-top: 4px;
  flex-direction: column;
  font: 400 10px/1.2 Inter, sans-serif;
  color: #fcf9f7;
}

.sub-description-small {
  font-size: 8px;
  align-self: end;
  margin-top: 4px;
  width: 100%;
}

.project-overlay {
  display: flex;
  flex-direction: column;
  position: relative;
  aspect-ratio: 0.706;
  width: 100%;
  padding: 139px 0 174px;
  color: #1d1d1d;
}

.grupoPoligonoContact {
  position: absolute;
  left: 0px;
  top: 70px;
  opacity: 50%;
}

.grupoPoligonoContact2 {
  position: absolute;
  left: 1150px;
  top: 130px;
  rotate: 55deg;
  scale: 1.2;
  opacity: 50%;
}

.grupoPoligonoContact3 {
  position: absolute;
  left: 950px;
  top: 600px;
  rotate: 25deg;
  scale: 1.2;
  opacity: 50%;
}

.grupoPoligonoContact4 {
  position: absolute;
  left: 1180px;
  top: 1050px;
  rotate: 120deg;
  scale: 0.8;
  opacity: 50%;
}

.grupoPoligonoContact5 {
  position: absolute;
  left: 300px;
  top: 500px;
  rotate: 30deg;
  scale: 1.6;
  opacity: 50%;
}

.grupoPoligonoContact6 {
  position: absolute;
  left: 550px;
  top: 150px;
  rotate: 70deg;
  scale: 0.6;
  opacity: 50%;
}

.grupoPoligonoContact7 {
  position: absolute;
  left: 50px;
  top: 1000px;
  rotate: 90deg;
  scale: 1.4;
  opacity: 50%;
}

.grupoPoligonoContact8 {
  position: absolute;
  left: 600px;
  top: 900px;
  rotate: 70deg;
  scale: 0.6;
  opacity: 50%;
}

.footer {
  position: relative;
  background: #65594e;
  align-self: stretch;
  display: flex;
  margin-top: 79px;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
  font: 400 16px/1.2 Inter, sans-serif;
  color: #fcf9f7;
}

.footer-content {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 264px;
  width: 100%;
  align-items: start;
  justify-content: center;
  padding: 44px 70px;
  align-items: center;
}

.footer-background {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.footer-sections {
  position: relative;
  display: flex;
  width: 751px;
  max-width: 100%;
  align-items: start;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2px 1px;
}

.footer-section {
  display: flex;
  margin-top: -11px;
  flex-direction: column;
}

.footer-title {
  font-size: 49px;
  line-height: 59px;
  margin: 0;
}

.footer-description {
  font-size: 16px;
  line-height: 19px;
  margin-top: 35px;
  margin-bottom: 0;
}

.header {
  max-width: 100%;
  flex-wrap: wrap;
}

.main-title {
  max-width: 100%;
  font-size: 40px;
}

.container-image-grid {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 80px;
  padding-left: 122px;
  padding-right: 122px;
  z-index: 1;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
}

.image-item p {
    text-align: center;
    font-family: Helvetica;
    font-weight: 500;
    font-family: var(--h5-font-family);
    color: var(--foundation-brownlight);
    font-weight: var(--h5-font-weight);
    margin-top: 14px;
    margin-bottom: 0px;
}

.image-container {
    width: 269px;
    height: 381px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff; /* Adiciona fundo branco ao container */
}

.image-container img {
    width: 100%;
    height: auto; /* Mantém a proporção */
    max-height: 100%; /* Limita a altura da imagem ao container */
}

.image-item {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

  .footer {
    max-width: 100%;
    margin: auto;
    z-index: 1;
  }

  .footer-content {
    max-width: 100%;
    padding: 0;
  }

  .footer-title {
    font-size: 40px;
    line-height: 54px;
  }

