html, body {
    margin: 0;
    padding: 0;
  }  
  
  .home-contact-go-to {
    background-color: #fcf9f7;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .home-contact-go-to .div {
    background-color: var(--foundation-brownlight);
    overflow: hidden;
    width: 1440px;
    height: 1834px;
    position: relative;
  }

  .home-contact-go-to .control-projects {
    position: absolute;
    top: 0;
    left: -140px;
  }
  .home-contact-go-to .overlapPolygons {
    position: absolute;
    width: 1440px;
    height: 1430px;
    top: 404px;
    /* left: -140px; */
  }

  .home-contact-go-to .overlapContactBar {
    position: absolute;
    width: 1440px;
    height: 1430px;
    top: 404px;
    /* left: -140px; */
  }
  
  .home-contact-go-to .frame {
    position: absolute;
    width: 1440px;
    height: 1430px;
    left: 0px;
    background-color: #ffffff;
    overflow: hidden;
  }
  
  /* .home-contact-go-to .simbolos {
    position: absolute;
    width: 1440px;
    height: 1430px;
  } */
  
  .home-contact-go-to .group {
    position: absolute;
    width: 2px;
    height: 2px;
    top: 20px;
    left: 126px;
  }
  
  /* .home-contact-go-to .overlap-group {
    position: relative;
    height: 2px;
  } */
  
  .home-contact-go-to .polygon {
    position: absolute;
    width: 1px;
    height: 1px;
    top: 0;
    left: 1px;
  }
  
  .home-contact-go-to .img {
    position: absolute;
    width: 1px;
    height: 1px;
    top: 0;
    left: 0;
  }
  
  .home-contact-go-to .polygon-2 {
    position: absolute;
    width: 1px;
    height: 1px;
    top: 1px;
    left: 0;
  }
  
  .home-contact-go-to .polygon-3 {
    position: absolute;
    width: 1px;
    height: 1px;
    top: 1px;
    left: 1px;
  }
  
  /* grupo base para poligonos */

  .home-contact-go-to .overlap-2 {
    position: relative;
    width: 190px;
    height: 213px;
    top: -11px;
    left: 12px;
  }
  
  .home-contact-go-to .polygon-4 {
    position: absolute;
    width: 83px;
    height: 73px;
    top: 33px;
    left: 95px;
    transform: rotate(28.74deg);
  }
  
  .home-contact-go-to .overlap-3 {
    position: absolute;
    width: 98px;
    height: 163px;
    top: 0;
    left: 0;
  }
  
  .home-contact-go-to .polygon-5 {
    position: absolute;
    width: 67px;
    height: 83px;
    top: 11px;
    left: 16px;
    transform: rotate(28.74deg);
  }
  
  .home-contact-go-to .polygon-6 {
    position: absolute;
    width: 65px;
    height: 73px;
    top: 71px;
    left: 43px;
    transform: rotate(28.74deg);
  }
  
  .home-contact-go-to .polygon-7 {
    position: absolute;
    width: 73px;
    height: 83px;
    top: 118px;
    left: 85px;
    transform: rotate(28.74deg);
  }

  /* Base para os poligonos */
  .home-contact-go-to .polygon-8 {
    position: absolute;
    width: 95px;
    height: 95px;
    top: 7px;
    left: 112px;
    rotate: 10deg;
  }
  
  .home-contact-go-to .polygon-9 {
    position: absolute;
    width: 95px;
    height: 95px;
    top: -1px;
    left: 7px;
    rotate: 10deg;
  }
  
  .home-contact-go-to .polygon-10 {
    position: absolute;
    width: 95px;
    height: 95px;
    top: 105px;
    left: -1px;
    rotate: 10deg;
  }
  
  .home-contact-go-to .polygon-11 {
    position: absolute;
    width: 95px;
    height: 95px;
    top: 112px;
    left: 105px;
    rotate: 10deg;
  }

  .home-contact-go-to .group-1 {
    position: absolute;
    top: 1118px;
    left: 705px;
    transform: rotate(60deg);
    transform: scale();
    opacity: 0.2;
  }

  .home-contact-go-to .group-2 {
    position: absolute;
    top: 10px;
    left: 200px;
    opacity: 0.2;
    rotate: 30deg;
    scale: 0.8;
  }
  
  .home-contact-go-to .group-3 {
    position: absolute;
    top: 510px;
    left: 100px;
    opacity: 0.2;
    rotate: 240deg;
    scale: 0.5;
  }

  .home-contact-go-to .group-4 {
    position: absolute;
    top: 124px;
    left: 600px;
    opacity: 0.2;
    rotate: 240deg;
    scale: 0.3;
  }
  
  .home-contact-go-to .group-5 {
    position: absolute;
    width: 334px;
    height: 334px;
    top: 1194px;
    left: 328px;
    transform: rotate(46.22deg);
    opacity: 0.2;
  }

  .home-contact-go-to .group-6 {
    position: absolute;
    width: 334px;
    height: 334px;
    top: 1675px;
    left: 1316px;
    transform: rotate(63.3deg);
    opacity: 0.2;
  }
  
  .home-contact-go-to .group-7 {
    position: absolute;
    width: 107px;
    height: 107px;
    top: 1729px;
    left: 38px;
    transform: rotate(28.31deg);
    opacity: 0.2;
  }

  .home-contact-go-to .group-8 {
    position: absolute;
    width: 107px;
    height: 107px;
    top: 1574px;
    left: 899px;
    transform: rotate(110.16deg);
    opacity: 0.2;
  }

  .home-contact-go-to .group-9 {
    position: absolute;
    top: 1000px;
    left: 200px;
    opacity: 0.2;
    rotate: 240deg;
    scale: 1.6;
  }
  
  .home-contact-go-to .group-10 {
    position: absolute;
    top: 450px;
    left: 800px;
    opacity: 0.2;
    rotate: 155deg;
    scale: 0.7;
  }

  .home-contact-go-to .group-11 {
    position: absolute;
    top: 340px;
    left: 1450px;
    opacity: 0.2;
    rotate: 155deg;
    scale: 2;
  }

  .home-contact-go-to .group-12 {
    position: absolute;
    top: 810px;
    left: 1300px;
    opacity: 0.2;
    rotate: 120deg;
    scale: 1.2;
  }

  .home-contact-go-to .group-13 {
    position: absolute;
    top: 1250px;
    left: 1320px;
    opacity: 0.2;
    rotate: 120deg;
    scale: 0.6;
  }

  .home-contact-go-to .group-14 {
    position: absolute;
    top: 1200px;
    left: 200px;
    opacity: 0.2;
    rotate: 45deg;
    scale: 0.3;
  }

  .home-contact-go-to .group-15 {
    position: absolute;
    top: 760px;
    left: 700px;
    opacity: 0.2;
    rotate: 45deg;
    scale: 0.3;
  }

  /* fim grupo base para poligonos */
  
  /* .home-contact-go-to .group-4 {
    position: absolute;
    width: 334px;
    height: 334px;
    top: 344px;
    left: 1011px;
    transform: rotate(112.7deg);
    opacity: 0.2;
  } */

  .home-contact-go-to .polygon-8 {
    position: absolute;
    width: 81px;
    height: 79px;
    top: 7px;
    left: 112px;
    transform: rotate(137.09deg);
  }
  
  .home-contact-go-to .polygon-9 {
    position: absolute;
    width: 79px;
    height: 81px;
    top: -1px;
    left: 7px;
    transform: rotate(137.09deg);
  }
  
  .home-contact-go-to .polygon-10 {
    position: absolute;
    width: 81px;
    height: 79px;
    top: 105px;
    left: -1px;
    transform: rotate(137.09deg);
  }
  
  .home-contact-go-to .polygon-11 {
    position: absolute;
    width: 79px;
    height: 81px;
    top: 112px;
    left: 105px;
    transform: rotate(137.09deg);
  }
  

  
  .home-contact-go-to .polygon-12 {
    position: absolute;
    width: 95px;
    height: 95px;
    top: 1087.27px;
    left: 1079.26px;
    transform: rotate(-70.9deg);
  }
  
  .home-contact-go-to .polygon-13 {
    position: absolute;
    width: 95px;
    height: 95px;
    top: 1217.94px;
    left: 1143.63px;
    transform: rotate(-169.9deg);
  }
  
  .home-contact-go-to .polygon-14 {
    position: absolute;
    width: 95px;
    height: 95px;
    top: 1118.53px;
    left: 1169.53px;
    transform: rotate(-70.9deg);
  }
  
  .home-contact-go-to .polygon-15 {
    position: absolute;
    width: 95px;
    height: 95px;
    top: 1208.8px;
    left: 1138.27px;
    transform: rotate(-169.9deg);
  }
  
  .home-contact-go-to .overlap-group-wrapper {
    position: absolute;
    top: 300px;
    left: 200px;
    opacity: 0.2;
    rotate: 240deg;
    scale: 0.5;
  }
  
  .home-contact-go-to .polygon-16 {
    position: absolute;
    width: 96px;
    height: 96px;
    top: 10px;
    left: 106px;
    transform: rotate(-13.8deg);
  }
  
  .home-contact-go-to .polygon-17 {
    position: absolute;
    width: 96px;
    height: 96px;
    top: 106px;
    left: 10px;
    transform: rotate(-13.8deg);
  }
  
  .home-contact-go-to .overlap-5 {
    position: absolute;
    top: 1000px;
    left: 480px;
    opacity: 0.2;
    rotate: 240deg;
    scale: 0.3;
  }
  
  .home-contact-go-to .polygon-18 {
    position: absolute;
    width: 96px;
    height: 96px;
    top: 10px;
    left: 10px;
    transform: rotate(-13.8deg);
  }
  
  .home-contact-go-to .div-wrapper {
    position: absolute;
    width: 107px;
    height: 107px;
    top: 2140px;
    left: 1121px;
    transform: rotate(70.9deg);
    opacity: 0.2;
  }
  
  .home-contact-go-to .overlap-6 {
    position: absolute;
    top: 500px;
    left: 850px;
    opacity: 0.2;
    rotate: 240deg;
    scale: 0.1;
  }
  
  .home-contact-go-to .polygon-19 {
    position: absolute;
    width: 54px;
    height: 54px;
    top: 7px;
    left: 61px;
    transform: rotate(-70.9deg);
  }
  
  .home-contact-go-to .polygon-20 {
    position: absolute;
    width: 54px;
    height: 54px;
    top: 61px;
    left: 7px;
    transform: rotate(-70.9deg);
  }
  
  .home-contact-go-to .overlap-7 {
    position: absolute;
    width: 68px;
    height: 68px;
    top: 54px;
    left: 54px;
  }
  
  .home-contact-go-to .polygon-21 {
    position: absolute;
    width: 54px;
    height: 54px;
    top: 7px;
    left: 7px;
    transform: rotate(-70.9deg);
  }
  

  
  .home-contact-go-to .polygon-22 {
    position: absolute;
    width: 134px;
    height: 144px;
    top: 29px;
    left: 185px;
    transform: rotate(-112.7deg);
  }
  
  .home-contact-go-to .polygon-23 {
    position: absolute;
    width: 144px;
    height: 134px;
    top: 15px;
    left: 29px;
    transform: rotate(-112.7deg);
  }
  
  .home-contact-go-to .polygon-24 {
    position: absolute;
    width: 134px;
    height: 144px;
    top: 162px;
    left: 15px;
    transform: rotate(-112.7deg);
  }
  
  .home-contact-go-to .polygon-25 {
    position: absolute;
    width: 144px;
    height: 134px;
    top: 185px;
    left: 162px;
    transform: rotate(-112.7deg);
  }
  
  .home-contact-go-to .polygon-26 {
    position: absolute;
    width: 139px;
    height: 119px;
    top: 15px;
    left: 189px;
    transform: rotate(-46.22deg);
  }
  
  .home-contact-go-to .polygon-27 {
    position: absolute;
    width: 141px;
    height: 139px;
    top: -1px;
    left: 12px;
    transform: rotate(-46.22deg);
  }
  
  .home-contact-go-to .overlap-8 {
    position: absolute;
    width: 282px;
    height: 198px;
    top: 153px;
    left: -31px;
  }
  
  .home-contact-go-to .polygon-28 {
    position: absolute;
    width: 139px;
    height: 141px;
    top: 29px;
    left: 29px;
    transform: rotate(-46.22deg);
  }
  
  .home-contact-go-to .polygon-29 {
    position: absolute;
    width: 141px;
    height: 1px;
    top: 64px;
    left: 163px;
    transform: rotate(-46.22deg);
  }
  
  .home-contact-go-to .overlap-9 {
    position: relative;
    width: 392px;
    height: 392px;
    top: 2240px;
    left: -895px;
  }
  
  .home-contact-go-to .polygon-30 {
    position: absolute;
    width: 167px;
    height: 167px;
    top: 29px;
    left: 196px;
    transform: rotate(-63.3deg);
  }
  
  .home-contact-go-to .polygon-31 {
    position: absolute;
    width: 167px;
    height: 167px;
    top: 196px;
    left: 29px;
    transform: rotate(-63.3deg);
  }
  
  .home-contact-go-to .overlap-10 {
    position: absolute;
    width: 224px;
    height: 224px;
    top: 167px;
    left: 167px;
  }
  
  .home-contact-go-to .polygon-32 {
    position: absolute;
    width: 167px;
    height: 167px;
    top: 29px;
    left: 29px;
    transform: rotate(-63.3deg);
  }
  
  .home-contact-go-to .overlap-11 {
    position: relative;
    width: 126px;
    height: 126px;
    top: 1419px;
    left: -2104px;
  }
  
  .home-contact-go-to .polygon-33 {
    position: absolute;
    width: 54px;
    height: 54px;
    top: 10px;
    left: 63px;
    transform: rotate(-28.31deg);
  }
  
  .home-contact-go-to .polygon-34 {
    position: absolute;
    width: 54px;
    height: 54px;
    top: 63px;
    left: 10px;
    transform: rotate(-28.31deg);
  }
  
  .home-contact-go-to .overlap-12 {
    position: absolute;
    width: 73px;
    height: 73px;
    top: 54px;
    left: 54px;
  }
  
  .home-contact-go-to .polygon-35 {
    position: absolute;
    width: 54px;
    height: 54px;
    top: 10px;
    left: 10px;
    transform: rotate(-28.31deg);
  }
  
  .home-contact-go-to .overlap-13 {
    position: relative;
    width: 122px;
    height: 122px;
    top: 2218px;
    left: 1113px;
  }
  
  .home-contact-go-to .polygon-36 {
    position: absolute;
    width: 54px;
    height: 54px;
    top: 8px;
    left: 61px;
    transform: rotate(-110.16deg);
  }
  
  .home-contact-go-to .polygon-37 {
    position: absolute;
    width: 54px;
    height: 54px;
    top: 61px;
    left: 8px;
    transform: rotate(-110.16deg);
  }
  
  .home-contact-go-to .overlap-14 {
    position: absolute;
    width: 69px;
    height: 69px;
    top: 54px;
    left: 54px;
  }
  
  .home-contact-go-to .polygon-38 {
    position: absolute;
    width: 54px;
    height: 54px;
    top: 8px;
    left: 8px;
    transform: rotate(-110.16deg);
  }
  
  .home-contact-go-to .polygon-39 {
    position: absolute;
    width: 44px;
    height: 46px;
    top: -1px;
    left: 57px;
    transform: rotate(-71.33deg);
  }
  
  .home-contact-go-to .polygon-40 {
    position: absolute;
    width: 46px;
    height: 44px;
    top: 6px;
    left: -1px;
    transform: rotate(-71.33deg);
  }
  
  .home-contact-go-to .polygon-41 {
    position: absolute;
    width: 44px;
    height: 46px;
    top: 63px;
    left: 6px;
    transform: rotate(-71.33deg);
  }
  
  .home-contact-go-to .polygon-42 {
    position: absolute;
    width: 46px;
    height: 44px;
    top: 57px;
    left: 63px;
    transform: rotate(-71.33deg);
  }
   
  .home-contact-go-to .polygon-43 {
    position: absolute;
    width: 17px;
    height: 18px;
    top: 4px;
    left: 24px;
    transform: rotate(-115.41deg);
  }
  
  .home-contact-go-to .polygon-44 {
    position: absolute;
    width: 18px;
    height: 17px;
    top: 2px;
    left: 4px;
    transform: rotate(-115.41deg);
  }
  
  .home-contact-go-to .polygon-45 {
    position: absolute;
    width: 17px;
    height: 18px;
    top: 20px;
    left: 2px;
    transform: rotate(-115.41deg);
  }
  
  .home-contact-go-to .polygon-46 {
    position: absolute;
    width: 18px;
    height: 17px;
    top: 24px;
    left: 20px;
    transform: rotate(-115.41deg);
  }
  
  .home-contact-go-to .polygon-47 {
    position: absolute;
    width: 17px;
    height: 18px;
    top: 0;
    left: 23px;
    transform: rotate(-71.33deg);
  }
  
  .home-contact-go-to .polygon-48 {
    position: absolute;
    width: 18px;
    height: 17px;
    top: 2px;
    left: 0;
    transform: rotate(-71.33deg);
  }
  
  .home-contact-go-to .polygon-49 {
    position: absolute;
    width: 17px;
    height: 18px;
    top: 25px;
    left: 2px;
    transform: rotate(-71.33deg);
  }
  
  .home-contact-go-to .polygon-50 {
    position: absolute;
    width: 18px;
    height: 17px;
    top: 23px;
    left: 25px;
    transform: rotate(-71.33deg);
  }
  
  .home-contact-go-to .overlap-15 {
    position: relative;
    width: 47px;
    height: 47px;
    top: 2366px;
    left: 885px;
  }
  
  .home-contact-go-to .polygon-51 {
    position: absolute;
    width: 21px;
    height: 21px;
    top: 2px;
    left: 24px;
    transform: rotate(-104.25deg);
  }
  
  .home-contact-go-to .polygon-52 {
    position: absolute;
    width: 21px;
    height: 21px;
    top: 24px;
    left: 2px;
    transform: rotate(-104.25deg);
  }
  
  .home-contact-go-to .overlap-16 {
    position: absolute;
    width: 26px;
    height: 26px;
    top: 21px;
    left: 21px;
  }
  
  .home-contact-go-to .polygon-53 {
    position: absolute;
    width: 21px;
    height: 21px;
    top: 2px;
    left: 2px;
    transform: rotate(-104.25deg);
  }
  
  .home-contact-go-to .polygon-54 {
    position: absolute;
    width: 17px;
    height: 18px;
    top: 2px;
    left: 21px;
    transform: rotate(-4.92deg);
  }
  
  .home-contact-go-to .polygon-55 {
    position: absolute;
    width: 18px;
    height: 17px;
    top: 4px;
    left: 2px;
    transform: rotate(-4.92deg);
  }
  
  .home-contact-go-to .polygon-56 {
    position: absolute;
    width: 17px;
    height: 18px;
    top: 22px;
    left: 4px;
    transform: rotate(-4.92deg);
  }
  
  .home-contact-go-to .polygon-57 {
    position: absolute;
    width: 18px;
    height: 17px;
    top: 21px;
    left: 22px;
    transform: rotate(-4.92deg);
  }
  
  .home-contact-go-to .group-16 {
    position: absolute;
    width: 43px;
    height: 43px;
    top: 831px;
    left: 1500px;
    transform: rotate(4.92deg);
    opacity: 0.2;
  }
  
  .home-contact-go-to .polygon-58 {
    position: absolute;
    width: 10px;
    height: 18px;
    top: 2px;
    left: 21px;
    transform: rotate(-4.92deg);
  }
  
  .home-contact-go-to .polygon-59 {
    position: absolute;
    width: 11px;
    height: 17px;
    top: 22px;
    left: 22px;
    transform: rotate(-4.92deg);
  }
  
  .home-contact-go-to .group-17 {
    position: absolute;
    width: 43px;
    height: 43px;
    top: 1044px;
    left: 77px;
    transform: rotate(32.66deg);
    opacity: 0.2;
  }
  
  .home-contact-go-to .overlap-17 {
    position: relative;
    height: 48px;
    top: -3px;
    left: 3px;
  }
  
  .home-contact-go-to .polygon-60 {
    position: absolute;
    width: 18px;
    height: 16px;
    top: 7px;
    left: 21px;
    transform: rotate(-32.66deg);
  }
  
  .home-contact-go-to .overlap-18 {
    position: absolute;
    width: 22px;
    height: 35px;
    top: 0;
    left: 0;
  }
  
  .home-contact-go-to .polygon-61 {
    position: absolute;
    width: 14px;
    height: 18px;
    top: 2px;
    left: 4px;
    transform: rotate(-32.66deg);
  }
  
  .home-contact-go-to .polygon-62 {
    position: absolute;
    width: 1px;
    height: 16px;
    top: 20px;
    left: 13px;
    transform: rotate(-32.66deg);
  }
  
  .home-contact-go-to .polygon-63 {
    position: absolute;
    width: 15px;
    height: 18px;
    top: 27px;
    left: 20px;
    transform: rotate(-32.66deg);
  }
  
  .home-contact-go-to .group-18 {
    position: absolute;
    width: 107px;
    height: 107px;
    top: 16px;
    left: 1460px;
    transform: rotate(71.33deg);
    opacity: 0.2;
  }
  
  .home-contact-go-to .overlap-19 {
    position: absolute;
    width: 63px;
    height: 74px;
    top: 34px;
    left: 51px;
  }
  
  .home-contact-go-to .polygon-64 {
    position: absolute;
    width: 2px;
    height: 46px;
    top: -15px;
    left: 21px;
    transform: rotate(-71.33deg);
  }
  
  .home-contact-go-to .polygon-65 {
    position: absolute;
    width: 46px;
    height: 44px;
    top: 24px;
    left: 12px;
    transform: rotate(-71.33deg);
  }
  
  .home-contact-go-to .polygon-66 {
    position: absolute;
    width: 27px;
    height: 44px;
    top: 15px;
    left: 6px;
    transform: rotate(-71.33deg);
  }
  
  .home-contact-go-to .image-wrapper {
    position: absolute;
    width: 269px;
    height: 381px;
    top: 118px;
    left: 246px;
    background-color: #b7b7b7;
  }
  
  .home-contact-go-to .image {
    position: absolute;
    width: 269px;
    height: 381px;
    top: 0px;
    left: 0px;
    object-fit: cover;
  }
  
  .home-contact-go-to .img-wrapper {
    position: absolute;
    width: 269px;
    height: 381px;
    top: 118px;
    left: 555px;
    background-color: #b7b7b7;
  }
  
  .home-contact-go-to .frame-2 {
    position: absolute;
    width: 269px;
    height: 381px;
    top: 118px;
    left: 864px;
    background-color: #b7b7b7;
  }
  
  .home-contact-go-to .frame-3 {
    position: absolute;
    width: 269px;
    height: 381px;
    top: 118px;
    left: 1173px;
    background-color: #b7b7b7;
  }
  
  .home-contact-go-to .frame-4 {
    position: absolute;
    width: 269px;
    height: 381px;
    top: 576px;
    left: 246px;
    background-color: #b7b7b7;
  }
  
  .home-contact-go-to .frame-5 {
    position: absolute;
    width: 269px;
    height: 381px;
    top: 576px;
    left: 555px;
    background-color: #b7b7b7;
  }
  
  .home-contact-go-to .frame-6 {
    position: absolute;
    width: 269px;
    height: 381px;
    top: 576px;
    left: 864px;
    background-color: #b7b7b7;

  }
  
  .home-contact-go-to .frame-7 {
    position: absolute;
    width: 269px;
    height: 381px;
    top: 576px;
    left: 1173px;
    background-color: #b7b7b7;
  }
  
  .home-contact-go-to .text-wrapper {
    position: absolute;
    width: 228px;
    top: 970px;
    left: 246px;
    font-family: var(--h5-font-family);
    font-weight: var(--h5-font-weight);
    color: var(--foundation-greydarker);
    font-size: var(--h5-font-size);
    letter-spacing: var(--h5-letter-spacing);
    line-height: var(--h5-line-height);
    white-space: nowrap;
    font-style: var(--h5-font-style);
  }
  
  .home-contact-go-to .text-wrapper-2 {
    top: 970px;
    left: 555px;
    position: absolute;
    width: 228px;
    font-family: var(--h5-font-family);
    font-weight: var(--h5-font-weight);
    color: var(--foundation-greydarker);
    font-size: var(--h5-font-size);
    letter-spacing: var(--h5-letter-spacing);
    line-height: var(--h5-line-height);
    white-space: nowrap;
    font-style: var(--h5-font-style);
  }
  
  .home-contact-go-to .text-wrapper-3 {
    top: 970px;
    left: 864px;
    position: absolute;
    width: 228px;
    font-family: var(--h5-font-family);
    font-weight: var(--h5-font-weight);
    color: var(--foundation-greydarker);
    font-size: var(--h5-font-size);
    letter-spacing: var(--h5-letter-spacing);
    line-height: var(--h5-line-height);
    white-space: nowrap;
    font-style: var(--h5-font-style);
  }
  
  .home-contact-go-to .text-wrapper-4 {
    top: 512px;
    left: 246px;
    position: absolute;
    width: 228px;
    font-family: var(--h5-font-family);
    font-weight: var(--h5-font-weight);
    color: var(--foundation-greydarker);
    font-size: var(--h5-font-size);
    letter-spacing: var(--h5-letter-spacing);
    line-height: var(--h5-line-height);
    white-space: nowrap;
    font-style: var(--h5-font-style);
  }
  
  .home-contact-go-to .text-wrapper-5 {
    top: 512px;
    left: 555px;
    position: absolute;
    width: 228px;
    font-family: var(--h5-font-family);
    font-weight: var(--h5-font-weight);
    color: var(--foundation-greydarker);
    font-size: var(--h5-font-size);
    letter-spacing: var(--h5-letter-spacing);
    line-height: var(--h5-line-height);
    white-space: nowrap;
    font-style: var(--h5-font-style);
  }
  
  .home-contact-go-to .text-wrapper-6 {
    top: 512px;
    left: 864px;
    position: absolute;
    width: 228px;
    font-family: var(--h5-font-family);
    font-weight: var(--h5-font-weight);
    color: var(--foundation-greydarker);
    font-size: var(--h5-font-size);
    letter-spacing: var(--h5-letter-spacing);
    line-height: var(--h5-line-height);
    white-space: nowrap;
    font-style: var(--h5-font-style);
  }
  
  .home-contact-go-to .text-wrapper-7 {
    top: 512px;
    left: 1173px;
    position: absolute;
    width: 228px;
    font-family: var(--h5-font-family);
    font-weight: var(--h5-font-weight);
    color: var(--foundation-greydarker);
    font-size: var(--h5-font-size);
    letter-spacing: var(--h5-letter-spacing);
    line-height: var(--h5-line-height);
    white-space: nowrap;
    font-style: var(--h5-font-style);
  }
  
  .home-contact-go-to .text-wrapper-8 {
    top: 970px;
    left: 1173px;
    position: absolute;
    width: 228px;
    font-family: var(--h5-font-family);
    font-weight: var(--h5-font-weight);
    color: var(--foundation-greydarker);
    font-size: var(--h5-font-size);
    letter-spacing: var(--h5-letter-spacing);
    line-height: var(--h5-line-height);
    white-space: nowrap;
    font-style: var(--h5-font-style);
  }
  
  .home-contact-go-to .frameContactBar {
    position: absolute;
    width: 1970px;
    height: 495px;
    top: 1109px;
    left: -235px;
    background-color: var(--foundation-brownnormal);
    transform: rotate(6deg);
  }
  
  .home-contact-go-to .overlapContactText {
    position: relative;
    width: 1520px;
    height: 546px;
    top: -150px;
    left: 237px;
  }
  
  .home-contact-go-to .wrapperContactSymbols {
    position: absolute;
    width: 1440px;
    height: 398px;
    top: 74px;
    left: 17px;
    overflow: hidden;
    transform: rotate(-6deg);
  }
  
  .home-contact-go-to .overlap-21 {
    position: relative;
    width: 190px;
    height: 198px;
    top: -11px;
    left: 12px;
  }
  
  .home-contact-go-to .polygon-67 {
    position: absolute;
    width: 73px;
    height: 65px;
    top: 119px;
    left: 81px;
    transform: rotate(-28.74deg);
  }
  
  .home-contact-go-to .overlap-22 {
    position: relative;
    width: 217px;
    height: 217px;
    top: 2059px;
    left: -1547px;
  }
  
  .home-contact-go-to .polygon-68 {
    position: absolute;
    width: 96px;
    height: 96px;
    top: 13px;
    left: 109px;
    transform: rotate(-70.9deg);
  }
  
  .home-contact-go-to .polygon-69 {
    position: absolute;
    width: 96px;
    height: 96px;
    top: 109px;
    left: 13px;
    transform: rotate(-70.9deg);
  }
  
  .home-contact-go-to .overlap-23 {
    position: absolute;
    width: 122px;
    height: 122px;
    top: 96px;
    left: 96px;
  }
  
  .home-contact-go-to .polygon-70 {
    position: absolute;
    width: 96px;
    height: 96px;
    top: 13px;
    left: 13px;
    transform: rotate(-70.9deg);
  }
  
  .home-contact-go-to .overlap-24 {
    position: relative;
    width: 211px;
    height: 211px;
    top: -154px;
    left: -2645px;
  }
  
  .home-contact-go-to .overlap-25 {
    position: relative;
    width: 122px;
    height: 122px;
    top: 2099px;
    left: -1547px;
  }
  
  .home-contact-go-to .polygon-71 {
    position: absolute;
    width: 167px;
    height: 167px;
    top: 2440px;
    left: 408px;
    transform: rotate(-112.7deg);
  }
  
  .home-contact-go-to .polygon-72 {
    position: absolute;
    width: 167px;
    height: 167px;
    top: 2607px;
    left: 241px;
    transform: rotate(-112.7deg);
  }
  
  .home-contact-go-to .polygon-73 {
    position: absolute;
    width: 134px;
    height: 55px;
    top: 223px;
    left: -25px;
    transform: rotate(-112.7deg);
  }
  
  .home-contact-go-to .polygon-74 {
    position: absolute;
    width: 167px;
    height: 167px;
    top: 2607px;
    left: 408px;
    transform: rotate(-112.7deg);
  }
  
  .home-contact-go-to .overlap-26 {
    position: relative;
    width: 404px;
    height: 404px;
    top: 1186px;
    left: -2303px;
  }
  
  .home-contact-go-to .polygon-75 {
    position: absolute;
    width: 167px;
    height: 167px;
    top: 35px;
    left: 202px;
    transform: rotate(-46.22deg);
  }
  
  .home-contact-go-to .polygon-76 {
    position: absolute;
    width: 167px;
    height: 167px;
    top: 202px;
    left: 35px;
    transform: rotate(-46.22deg);
  }
  
  .home-contact-go-to .overlap-27 {
    position: absolute;
    width: 236px;
    height: 236px;
    top: 167px;
    left: 167px;
  }
  
  .home-contact-go-to .polygon-77 {
    position: absolute;
    width: 167px;
    height: 167px;
    top: 35px;
    left: 35px;
    transform: rotate(-46.22deg);
  }
  
  .home-contact-go-to .overlap-28 {
    position: relative;
    width: 392px;
    height: 392px;
    top: 1777px;
    left: -1817px;
  }
  
  .home-contact-go-to .overlap-29 {
    position: relative;
    width: 126px;
    height: 126px;
    top: 511px;
    left: -2593px;
  }
  
  .home-contact-go-to .overlap-30 {
    position: relative;
    width: 122px;
    height: 122px;
    top: 2574px;
    left: 144px;
  }
  
  .home-contact-go-to .overlap-31 {
    position: relative;
    width: 122px;
    height: 122px;
    top: 2110px;
    left: -1530px;
  }
  
  .home-contact-go-to .polygon-78 {
    position: absolute;
    width: 54px;
    height: 54px;
    top: 7px;
    left: 61px;
    transform: rotate(-71.33deg);
  }
  
  .home-contact-go-to .polygon-79 {
    position: absolute;
    width: 54px;
    height: 54px;
    top: 61px;
    left: 7px;
    transform: rotate(-71.33deg);
  }
  
  .home-contact-go-to .polygon-80 {
    position: absolute;
    width: 54px;
    height: 54px;
    top: 7px;
    left: 7px;
    transform: rotate(-71.33deg);
  }
  
  .home-contact-go-to .overlap-32 {
    position: relative;
    width: 48px;
    height: 48px;
    top: 2141px;
    left: -1530px;
  }
  
  .home-contact-go-to .polygon-81 {
    position: absolute;
    width: 21px;
    height: 21px;
    top: 3px;
    left: 24px;
    transform: rotate(-71.33deg);
  }
  
  .home-contact-go-to .polygon-82 {
    position: absolute;
    width: 21px;
    height: 21px;
    top: 24px;
    left: 3px;
    transform: rotate(-71.33deg);
  }
  
  .home-contact-go-to .overlap-33 {
    position: absolute;
    width: 27px;
    height: 27px;
    top: 21px;
    left: 21px;
  }
  
  .home-contact-go-to .polygon-83 {
    position: absolute;
    width: 21px;
    height: 21px;
    top: 3px;
    left: 3px;
    transform: rotate(-71.33deg);
  }
  
  .home-contact-go-to .overlap-34 {
    position: relative;
    width: 47px;
    height: 47px;
    top: 2620px;
    left: -115px;
  }
  
  .home-contact-go-to .overlap-35 {
    position: relative;
    width: 44px;
    height: 44px;
    top: -539px;
    left: -2593px;
  }
  
  .home-contact-go-to .polygon-84 {
    position: absolute;
    width: 21px;
    height: 21px;
    top: 1px;
    left: 22px;
    transform: rotate(-4.92deg);
  }
  
  .home-contact-go-to .polygon-85 {
    position: absolute;
    width: 21px;
    height: 21px;
    top: 22px;
    left: 1px;
    transform: rotate(-4.92deg);
  }
  
  .home-contact-go-to .overlap-36 {
    position: absolute;
    width: 23px;
    height: 23px;
    top: 21px;
    left: 21px;
  }
  
  .home-contact-go-to .polygon-86 {
    position: absolute;
    width: 21px;
    height: 21px;
    top: 1px;
    left: 1px;
    transform: rotate(-4.92deg);
  }
  
  .home-contact-go-to .overlap-37 {
    position: relative;
    width: 51px;
    height: 51px;
    top: 720px;
    left: -2545px;
  }
  
  .home-contact-go-to .polygon-87 {
    position: absolute;
    width: 21px;
    height: 21px;
    top: 4px;
    left: 25px;
    transform: rotate(-32.66deg);
  }
  
  .home-contact-go-to .polygon-88 {
    position: absolute;
    width: 21px;
    height: 21px;
    top: 25px;
    left: 4px;
    transform: rotate(-32.66deg);
  }
  
  .home-contact-go-to .overlap-38 {
    position: absolute;
    width: 29px;
    height: 29px;
    top: 21px;
    left: 21px;
  }
  
  .home-contact-go-to .polygon-89 {
    position: absolute;
    width: 21px;
    height: 21px;
    top: 4px;
    left: 4px;
    transform: rotate(-32.66deg);
  }
  
  .home-contact-go-to .group-19 {
    position: absolute;
    width: 866px;
    height: 95px;
    top: 109px;
    left: 651px;
    transform: rotate(-6deg);
  }
  
  .home-contact-go-to .polygon-90 {
    position: absolute;
    width: 4px;
    height: 4px;
    top: -44px;
    left: 7px;
    transform: rotate(6deg);
  }
  
  .home-contact-go-to .textoAnimadoHD1 {
    width: 865px;
    top: 45px;
    left: 2px;
    transform: rotate(6deg);
    color: var(--foundation-browndarker);
    font-size: 4px;
    line-height: 4.8px;
    position: absolute;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
    white-space: nowrap;
    margin: 0;
  }

  .home-contact-go-to .textoAnimadoHD2 {
    width: 865px;
    top: 45px;
    left: 2px;
    transform: rotate(6deg);
    color: var(--foundation-browndarker);
    font-size: 4px;
    line-height: 4.8px;
    position: absolute;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
    white-space: nowrap;
    margin: 0;
  }

  .home-contact-go-to .textoAnimadoBB {
    width: 865px;
    top: 45px;
    left: 2px;
    transform: rotate(6deg);
    color: var(--foundation-browndarker);
    font-size: 4px;
    line-height: 4.8px;
    position: absolute;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
    white-space: nowrap;
    margin: 0;
  }
  
  .home-contact-go-to .group-20 {
    position: absolute;
    width: 257px;
    height: 248px;
    top: 187px;
    left: 646px;
  }
  
  .home-contact-go-to .text-wrapper-9 {
    position: absolute;
    width: 101px;
    top: 146px;
    left: 15px;
    transform: rotate(-6deg);
    font-family: var(--h7-font-family);
    font-weight: var(--h7-font-weight);
    color: var(--foundation-greynormal-active);
    font-size: var(--h7-font-size);
    letter-spacing: var(--h7-letter-spacing);
    line-height: var(--h7-line-height);
    white-space: nowrap;
    font-style: var(--h7-font-style);
  }
  
  .home-contact-go-to .text-wrapper-10 {
    top: 185px;
    left: 19px;
    position: absolute;
    width: 101px;
    transform: rotate(-6deg);
    font-family: var(--h7-font-family);
    font-weight: var(--h7-font-weight);
    color: var(--foundation-greynormal-active);
    font-size: var(--h7-font-size);
    letter-spacing: var(--h7-letter-spacing);
    line-height: var(--h7-line-height);
    white-space: nowrap;
    font-style: var(--h7-font-style);
  }
  
  .home-contact-go-to .text-wrapper-11 {
    top: 224px;
    left: 23px;
    position: absolute;
    width: 101px;
    transform: rotate(-6deg);
    font-family: var(--h7-font-family);
    font-weight: var(--h7-font-weight);
    color: var(--foundation-greynormal-active);
    font-size: var(--h7-font-size);
    letter-spacing: var(--h7-letter-spacing);
    line-height: var(--h7-line-height);
    white-space: nowrap;
    font-style: var(--h7-font-style);
  }
  
  .home-contact-go-to .text-wrapper-12 {
    top: 134px;
    left: 133px;
    position: absolute;
    width: 101px;
    transform: rotate(-6deg);
    font-family: var(--h7-font-family);
    font-weight: var(--h7-font-weight);
    color: var(--foundation-greynormal-active);
    font-size: var(--h7-font-size);
    letter-spacing: var(--h7-letter-spacing);
    line-height: var(--h7-line-height);
    white-space: nowrap;
    font-style: var(--h7-font-style);
  }
  
  .home-contact-go-to .text-wrapper-13 {
    top: 173px;
    left: 137px;
    position: absolute;
    width: 101px;
    transform: rotate(-6deg);
    font-family: var(--h7-font-family);
    font-weight: var(--h7-font-weight);
    color: var(--foundation-greynormal-active);
    font-size: var(--h7-font-size);
    letter-spacing: var(--h7-letter-spacing);
    line-height: var(--h7-line-height);
    white-space: nowrap;
    font-style: var(--h7-font-style);
  }
  
  .home-contact-go-to .text-wrapper-14 {
    top: 211px;
    left: 141px;
    position: absolute;
    width: 101px;
    transform: rotate(-6deg);
    font-family: var(--h7-font-family);
    font-weight: var(--h7-font-weight);
    color: var(--foundation-greynormal-active);
    font-size: var(--h7-font-size);
    letter-spacing: var(--h7-letter-spacing);
    line-height: var(--h7-line-height);
    white-space: nowrap;
    font-style: var(--h7-font-style);
  }
  
  .home-contact-go-to .SOCIAL-MEDIA {
    position: absolute;
    width: 185px;
    top: 9px;
    left: 5px;
    transform: rotate(-6deg);
    font-family: var(--h2-font-family);
    font-weight: var(--h2-font-weight);
    color: var(--foundation-greynormal-active);
    font-size: var(--h2-font-size);
    letter-spacing: var(--h2-letter-spacing);
    line-height: var(--h2-line-height);
    font-style: var(--h2-font-style);
  }
  
  .home-contact-go-to .group-21 {
    position: absolute;
    width: 210px;
    height: 209px;
    top: 244px;
    left: 103px;
  }
  
  .home-contact-go-to .text-wrapper-15 {
    width: 165px;
    top: 145px;
    left: 15px;
    transform: rotate(-6deg);
    color: var(--foundation-greynormal-active);
    font-size: var(--h7-font-size);
    line-height: var(--h7-line-height);
    position: absolute;
    font-family: var(--h7-font-family);
    font-weight: var(--h7-font-weight);
    letter-spacing: var(--h7-letter-spacing);
    white-space: nowrap;
    font-style: var(--h7-font-style);
  }
  
  .home-contact-go-to .text-wrapper-16 {
    width: 165px;
    top: 182px;
    left: 19px;
    transform: rotate(-6deg);
    color: var(--foundation-greynormal-active);
    font-size: var(--h7-font-size);
    line-height: var(--h7-line-height);
    position: absolute;
    font-family: var(--h7-font-family);
    font-weight: var(--h7-font-weight);
    letter-spacing: var(--h7-letter-spacing);
    white-space: nowrap;
    font-style: var(--h7-font-style);
  }
  
  .home-contact-go-to .GET-IN-TOUCH {
    position: absolute;
    width: 193px;
    top: 9px;
    left: 5px;
    transform: rotate(-6deg);
    font-family: var(--h2-font-family);
    font-weight: var(--h2-font-weight);
    color: var(--foundation-greynormal-active);
    font-size: var(--h2-font-size);
    letter-spacing: var(--h2-letter-spacing);
    line-height: var(--h2-line-height);
    font-style: var(--h2-font-style);
  }
  
  .home-contact-go-to .caixaNavBar {
    position: absolute;
    width: 2984px;
    height: 480px;
    top: -353px;
    left: -869px;
  }

  .home-contact-go-to .overlapTitulo {
    position: absolute;
    width: 2984px;
    height: 554px;
    top: -353px;
    left: -869px;
  }

  .home-contact-go-to .overlap-40 {
    position: absolute;
    width: 2984px;
    height: 543px;
    top: 0;
    left: 0;
  }
  
  .home-contact-go-to .headerEsquerdo {
    position: absolute;
    width: 2137px;
    height: 321px;
    top: 111px;
    left: 11px;
    background-color: var(--foundation-brownnormal);
    overflow: hidden;
    transform: rotate(-6deg);
  }
  
  .home-contact-go-to .contentHE {
    position: relative;
    width: 2163px;
    height: 752px;
    top: -263px;
    left: -128px;
  }
  
  .home-contact-go-to .headerEsquerdoDivDireita {
    position: absolute;
    width: 2144px;
    height: 313px;
    top: 219px;
    left: 9px;
    background-color: var(--foundation-browndark);
    transform: rotate(12deg);
  }
  
  .home-contact-go-to .LOGO {
    position: absolute;
    top: 518px;
    left: 1096px;
  }
  
  .home-contact-go-to .overlap-43 {
    position: relative;
    height: 42px;
  }
  
  /*TUDO MERDA PRA DELETAR TUDO MERDA PRA DELETAR TUDO MERDA PRA DELETAR TUDO MERDA PRA DELETAR

  .home-contact-go-to .group-22 {
    position: absolute;
    width: 40px;
    height: 35px;
    top: 7px;
    left: 0;  
  }
  
  .home-contact-go-to .overlap-group-2 {
    position: relative;
    height: 35px;
  }
  
  .home-contact-go-to .ellipse {
    width: 22px;
    height: 23px;
    top: 0;
    left: 11px;
    border-radius: 11px/11.5px;
    position: absolute;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 43.04%);
    U
  }
  
  .home-contact-go-to .ellipse-2 {
    width: 20px;
    height: 20px;
    top: 6px;
    left: 18px;
    border-radius: 10px;
    position: absolute;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 43.04%);
  }
  
  .home-contact-go-to .ellipse-3 {
    width: 20px;
    height: 21px;
    top: 4px;
    left: 4px;
    border-radius: 10px/10.5px;
    position: absolute;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 43.04%);
  }
  
  .home-contact-go-to .ellipse-4 {
    width: 22px;
    height: 21px;
    top: 8px;
    left: 0;
    border-radius: 11px/10.5px;
    position: absolute;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 43.04%);
  } */
  
  /* .home-contact-go-to .subtract {
    position: absolute;
    width: 22px;
    height: 23px;
    top: 12px;
    left: 18px;
  } */
  
  /* .home-contact-go-to .vector {
    position: absolute;
    width: 24px;
    height: 42px;
    top: 0;
    left: 10px;
  } */
  
  /* .home-contact-go-to .VINICIUS {
    position: absolute;
    width: 13px;
    height: 2px;
    top: 34px;
    left: 10px;
    transform: rotate(-45.06deg);
    font-family: "Montez-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 3px;
    letter-spacing: 0.15px;
    line-height: 3.6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 0;
    -webkit-box-orient: vertical;
  } */
  
  .home-contact-go-to .textoAnimadoHE {
    width: 865px;
    top: 578px;
    left: 776px;
    transform: rotate(0deg);
    color: var(--foundation-brownlight);
    font-size: 4px;
    line-height: 4.8px;
    position: absolute;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
    white-space: nowrap;
    margin: 0;
  }
  
  .home-contact-go-to .headerDireito {
    position: absolute;
    width: 2137px;
    height: 316px;
    top: 112px;
    left: 837px;
    background-color: var(--foundation-browndark-hover);
    overflow: hidden;
    transform: rotate(6deg);
  }
  
  .home-contact-go-to .caixaBotoes {
    position: relative;
    width: 1357px;
    height: 280px;
    top: 168px;
    left: 701px;
  }
  
  .home-contact-go-to .contato {
    position: absolute;
    width: 77px;
    top: 81px;
    left: 584px;
    transform: rotate(-6deg);
    font-family: var(--h7-font-family);
    font-weight: var(--h7-font-weight);
    color: var(--foundation-brownlight);
    font-size: var(--h7-font-size);
    letter-spacing: var(--h7-letter-spacing);
    line-height: var(--h7-line-height);
    white-space: nowrap;
    font-style: var(--h7-font-style);
  }
  
  .home-contact-go-to .line {
    width: 77px;
    top: 100px;
    left: 585px;
    position: absolute;
    height: 1px;
    transform: rotate(-6deg);
    object-fit: cover;
  }
  
  .home-contact-go-to .sobre {
    position: absolute;
    width: 56px;
    top: 92px;
    left: 488px;
    transform: rotate(-6deg);
    font-family: var(--h7-font-family);
    font-weight: var(--h7-font-weight);
    color: var(--foundation-brownlight);
    font-size: var(--h7-font-size);
    letter-spacing: var(--h7-letter-spacing);
    line-height: var(--h7-line-height);
    white-space: nowrap;
    font-style: var(--h7-font-style);
  }
  
  .home-contact-go-to .trabalhos {
    position: absolute;
    width: 49px;
    top: 102px;
    left: 397px;
    transform: rotate(-6deg);
    font-family: var(--h7-font-family);
    font-weight: var(--h7-font-weight);
    color: var(--foundation-brownlight);
    font-size: var(--h7-font-size);
    letter-spacing: var(--h7-letter-spacing);
    line-height: var(--h7-line-height);
    white-space: nowrap;
    font-style: var(--h7-font-style);
  }
  
  .home-contact-go-to .line-2 {
    width: 49px;
    top: 121px;
    left: 398px;
    position: absolute;
    height: 1px;
    transform: rotate(-6deg);
    object-fit: cover;
  }
  
  .home-contact-go-to .grupoTextoAnimadoHD {
    position: absolute;
    width: 1349px;
    height: 140px;
    top: 70px;
    left: 4px;
    transform: rotate(-6deg);
  }
  
  .home-contact-go-to .posicionamentoTAHD {
    position: relative;
    width: 1351px;
    height: 140px;
  }
  
  .home-contact-go-to .poTextoAnimadoHD1 {
    position: absolute;
    width: 866px;
    height: 95px;
    top: 0;
    left: 0;
  }
  
  .home-contact-go-to .polygonHD {
    position: absolute;
    width: 3px;
    height: 3px;
    top: -44px;
    left: 7px;
    transform: rotate(6deg);
  }
  
  .home-contact-go-to .poTextoAnimadoHD2{
    position: absolute;
    width: 866px;
    height: 95px;
    top: 44px;
    left: 485px;
  }
  
  .home-contact-go-to .Titulo {
    width: 786px;
    top: 489px;
    left: 1196px;
    color: var(--foundation-greydarker);
    font-size: var(--h1-font-size);
    line-height: var(--h1-line-height);
    position: absolute;
    font-family: var(--h1-font-family);
    font-weight: var(--h1-font-weight);
    letter-spacing: var(--h1-letter-spacing);
    white-space: nowrap;
    font-style: var(--h1-font-style);
    margin: 0;
  }
  
  .home-contact-go-to .caixaTextoCorrenteGeral{
    position: absolute;
    width: 8327px;
    height: 150px;
    top: 243px;
    left: -3400px;
  }
  
  .home-contact-go-to .grupoTextoCorrente1 {
    position: absolute;
    width: 873px;
    height: 6px;
    top: 0;
    left: 4058px;
    opacity: 0.2;
  }
  
  .home-contact-go-to .caixaTextoCorrente1 {
    width: 865px;
    top: 0;
    left: 6px;
    color: var(--foundation-browndarker);
    font-size: 4px;
    line-height: 4.8px;
    position: absolute;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
    white-space: nowrap;
    margin: 0;
  }
  
  .home-contact-go-to .trianguloTC1 {
    position: absolute;
    width: 4px;
    height: 5px;
    top: 0;
    left: 0;
  }
  
  .home-contact-go-to .grupoTextoCorrente2 {
    position: absolute;
    width: 1218px;
    height: 7px;
    top: 39px;
    left: 3797px;
    opacity: 0.3;
  }
  
  .home-contact-go-to .caixaTextoCorrente2 {
    width: 1211px;
    top: 0;
    left: 5px;
    color: var(--foundation-browndarker);
    font-size: 5.6px;
    line-height: 6.7px;
    position: absolute;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
    white-space: nowrap;
    margin: 0;
  }
  
  .home-contact-go-to .trianguloTC2 {
    width: 4px;
    height: 5px;
    position: absolute;
    top: 1px;
    left: 0;
  }
  
  .home-contact-go-to .grupoTextoCorrente3 {
    position: absolute;
    width: 1566px;
    height: 9px;
    top: 141px;
    left: 4400px;
    opacity: 0.3;
  }
  
  .home-contact-go-to .caixaTextoCorrente3 {
    width: 1557px;
    top: 0;
    left: 7px;
    color: var(--foundation-browndarker);
    font-size: 7.2px;
    line-height: 8.6px;
    position: absolute;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
    white-space: nowrap;
    margin: 0;
  }

  .home-contact-go-to .trianguloTC3 {
    position: absolute;
    width: 6px;
    height: 6px;
    top: 1px;
    left: 0;
  }
  
  .home-contact-go-to .grupoTextoCorrente4 {
    position: absolute;
    width: 754px;
    height: 4px;
    top: 127px;
    left: 3860px;
    opacity: 0.2;
  }
  
  .home-contact-go-to .caixaTextoCorrente4 {
    width: 747px;
    top: 0;
    left: 4px;
    color: var(--foundation-browndarker);
    font-size: 3.5px;
    line-height: 4.1px;
    position: absolute;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
    white-space: nowrap;
    margin: 0;
  }
  
  .home-contact-go-to .trianguloTC4 {
    position: absolute;
    width: 3px;
    height: 3px;
    top: 0;
    left: 0;
  }
  
  .home-contact-go-to .grupoTextoCorrente5 {
    position: absolute;
    width: 2088px;
    height: 12px;
    top: 105px;
    left: 3524px;
    opacity: 0.4;
  }
  
  .home-contact-go-to .caixaTextoCorrente5 {
    width: 2076px;
    top: 0;
    left: 10px;
    color: var(--foundation-browndarker);
    font-size: 9.6px;
    line-height: 11.5px;
    position: absolute;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
    white-space: nowrap;
    margin: 0;
  }
  
  .home-contact-go-to .trianguloTC5 {
    width: 9px;
    height: 10px;
    position: absolute;
    top: 1px;
    left: 0;
  }

  .home-contact-go-to .grupoTextoCorrente6 {
    position: absolute;
    width: 6749px;
    height: 39px;
    top: 56px;
    left: 0;
    opacity: 0.6;
  }
  
  .home-contact-go-to .caixaTextoCorrente6 {
    width: 6747px;
    top: 0;
    left: 0;
    color: var(--foundation-browndarker);
    font-size: 31.2px;
    line-height: 37.4px;
    position: absolute;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
    white-space: nowrap;
    margin: 0;
  }

  .home-contact-go-to .trianguloTC6 {
    width: 9px;
    height: 10px;
    position: absolute;
    top: 1px;
    left: 0;
  }
  
  .home-contact-go-to .grupoTextoCorrente7 {
    position: absolute;
    width: 4744px;
    height: 27px;
    top: 8px;
    left: 3585px;
    opacity: 0.5;
  }
  
  .home-contact-go-to .caixaTextoCorrente7 {
    width: 4723px;
    top: 0;
    left: 19px;
    color: var(--foundation-browndarker);
    font-size: 21.8px;
    line-height: 26.2px;
    position: absolute;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
    white-space: nowrap;
    margin: 0;
  }
  
  .home-contact-go-to .trianguloTC7 {
    position: absolute;
    width: 17px;
    height: 18px;
    top: 4px;
    left: 0;
  }